* {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --primary: #145da1;
  --white: #ffffff;
}

.background-primary {
  background-color: var(--primary);
}

.font-primary {
  color: var(--primary);
}

body {
  background-color: #f6f7f9 !important;
  font-family: Montserrat-Regular !important;
  position: relative;
}

.scrollbar::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar â† You're missing this */
  width: 10px; /* width of vertical scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100, 181, 246);
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 148, 241);
}

/* .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  display: none;
} */

.MuiGrid-root.MuiGrid-container > label {
  display: none;
}

.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary {
  display: none;
}

.footer {
  background-image: linear-gradient(to right, #145ea9, #106a9c, #03b75c);
}

input[type="text"] {
  width: 100%;
}

select:focus {
  box-shadow: 0 0 8px 0.3px dodgerblue;
  border: 0.1px solid dodgerblue;
}

.MuiTypography-root.MuiTypography-body1 {
  font-size: 16px;
}

.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputHiddenLabel.MuiFilledInput-inputHiddenLabel {
  font-size: 15px;
}

.loading-shading-mui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.3);
}

.loading-icon-mui {
  position: absolute;
  font-size: 20px;
  top: calc(45% - 10px);
  left: calc(50% - 10px);
}




