* {
  padding: 0;
  margin: 0;
  font-size: 12px;

}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --primary: #145da1;
  --white: #ffffff;
}

.background-primary {
  background-color: var(--primary);
}

.font-primary {
  color: var(--primary);
}

body {
  background-color: #f6f7f9 !important;
  font-family: Montserrat-Regular !important;
}

.scrollbar::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar ← You're missing this */
  width: 10px; /* width of vertical scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100, 181, 246);
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 148, 241);
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  display: none;
}

.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary {
  display: none;
}

.footer {
  background-image: linear-gradient(to right, #145ea9, #106a9c, #03b75c);
}

input[type="text"] {
  width: 100%;
}
