* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --primary: #145da1;
  --white: #ffffff;
}

.bg-primary {
  background-color: var(--primary);
}

.font-primary {
  color: var(--primary);
  font-weight: 700;
}

body {
  background-color: #f6f7f9;
  font-family: Montserrat-Regular;
}

.scrollbar::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar â† You're missing this */
  width: 10px; /* width of vertical scrollbar */
}
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100, 181, 246);
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 148, 241);
}

/* #root > div > div > div > div:nth-child(1) > div > div.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.OverlayBase-absolutePosition-4.OverlayBase-paper-5.OverlayBase-halfSize-7.OverlayBase-transition-8.MuiPaper-elevation16 > div > div.LayoutBase-container-305 > div > div.MuiGrid-root.LayoutBase-booleanEditors-321.MuiGrid-container{
  display: none;
} */

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
  display: none;
}


.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary{
  display: none;
}

.MuiTypography-root{
  font-size: 15px;
}
/* .MuiTypography-root.memo-label-369.memo-titleLabel-370.MuiTypography-body1{
  font-size: 15px;
} */

.MuiTypography-root.MuiTypography-body1{
  font-size: 16px;
}
.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputHiddenLabel.MuiFilledInput-inputHiddenLabel{
  font-size: 15px;
}